<!DOCTYPE html>
<html>
<head>
  <title>cHaden</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


    <link rel="stylesheet" media="all" href="/assets/github-64e62ddc273c2f5847f30d698ca14b67.css?body=1" data-turbolinks-track="true" />
  <link rel="stylesheet" media="all" href="/assets/application-5266d2988799ecc8fe6e81eaab412e7d.css?body=1" data-turbolinks-track="true" />
    <script src="/assets/jquery-87424c3c19e96d4fb033c10ebe21ec40.js?body=1" data-turbolinks-track="true"></script>
  <script src="/assets/jquery_ujs-e27bd20a10d28155845a22d71ef94f2f.js?body=1" data-turbolinks-track="true"></script>
  <script src="/assets/turbolinks-f87b3583ca50adb0488b031297f5580d.js?body=1" data-turbolinks-track="true"></script>
  <script src="/assets/github-fcec5b5a277ac7c20cc9f45a209a3bcd.js?body=1" data-turbolinks-track="true"></script>
  <script src="/assets/application-001948a807d6467a657420955d9f0c1c.js?body=1" data-turbolinks-track="true"></script>
    <meta name="csrf-param" content="authenticity_token" />
  <meta name="csrf-token" content="hHPJmOv3d1tNTVEOeWTZjVDD2S8n6q6goU/dAwWnCGuNnGxE2mX91m//XRHPSL61yjnXIz6R8CyhUDR5P/MqKQ==" />


</head>
<body>

<%= yield %>

</body>
</html>
